.navbar{
    background-color: rgb(247, 100, 100);
    
}
.divleft{
    height: 90vh;
    width: 50vw;
    border: 1px solid black;
}
.burgerimg{
    height: 90vh;
    width: 50vw;
}
.slide1{
    display: flex;
    border: 1px solid black;
}
.divleft{
    padding: 30% 20% ;
}
button{
    width: 200px;
    height: 40px;
    background-color: rgb(247, 100, 100);
    border: 0;
}